<div class="row">
    <div class="panel panel-default col-sm-6 col-sm-offset-3">
        <div class="panel-body" ng-show="loading">Loading...</div>

        <div class="panel-body" ng-show="!loading">
            <div ng-repeat="key in checkResultKeys">
                <div class="panel-heading">
                    <h5>{{showMap[key]}}</h5>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered">
                        <tbody>
                        <tr ng-repeat="(title,info) in checkResult[key]">
                            <label class="danger col-sm-2" data-ng-if="$index> 0"></label>
                            <td>
                                <!-- <div class="col-sm-6 input-group"> -->
                                {{title}}
                                <!-- </div> -->
                            </td>
                            <td>
                                <!-- <div class="col-sm-6 input-group"> -->
                                {{info}}
                                <!-- </div> -->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
