/*===================================
  :: Header Container
  ===================================*/

.header-container {
    // height:( $header_height * 2);
    // @media (min-width:768px) {
    //     height: $header_height;
    // }

    > .top-header {
        box-shadow: 0 1px 8px 0 rgba(51, 51, 51, 0.1);
        a {
            color: $white;
            &:hover {
                text-decoration: none;
            }
        }

        .dropdown-menu {
            min-width: 120px;
            margin-top: 10px;
            padding: 0px;

            > li {
                padding: 5px;

                &:focus, &:hover {
                    a {
                        color: #00A4A5;
                    }
                    background-color: #edf1f2 !important;
                }

                a {
                    text-decoration: none;
                    color: #373D52;
                }
            }

            .panel-footer {
                background: $white;
                > a {
                    color: #373D52;

                    &:hover {
                        color: #00A4A5;
                        background: white !important;
                    }
                }
            }
        }

        .hidden-mobile {
            display: none;
            @media (min-width: 480px) {
                display: inline;
            }
        }

        //
        .logo {
            position: absolute;
            width: 100%;
            height: $header_height;
            color: $bright;
            line-height: $header_height;
            @media (min-width: 768px) {
                display: inline-block;
                width: 220px;
                border-right: 1px solid rgba(255, 255, 255, 0);
            }

            > .logo-title {
                font-size: 19px;
                text-transform: capitalize;
                padding: 0px 10px;
                display: inline-block;
            }
            > .logo-icon {
                display: none;
            }
        }

        //
        .menu-button {
            display: block;
            position: absolute;
            top: ($header_height/2 - 17);
            right: 20px;
            padding: 12px 0px;
            border-radius: 4px;
            text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
            font-size: 14px;
            a {
                color: $white;
                padding: 10px 12px;
                &:hover {
                    text-decoration: none;
                    cursor: pointer;
                }
            }

            .icon-bar {
                display: block;
                width: 22px;
                height: 2px;
                border-radius: 1px;
                background-color: $white;
            }
            .icon-bar + .icon-bar {
                margin-top: 4px;
            }

            @media (min-width: 768px) {
                display: none;
            }
        }

        //
        .admin-options {
            z-index: 20;
            line-height: 20px;
        }

        //
        .dropdown-menu.panel {
            padding: 0;
            white-space: nowrap;

            .panel-heading,
            .panel-footer {
                padding: 8px 15px;
            }

            .list-group-item {
                padding: 8px 10px;
                border: none;
                > a {
                    display: block;
                }
                &:hover {
                    cursor: pointer;
                    background-color: #edf1f2 !important;
                }
            }

            .media {
                .media-body {
                    padding-right: 15px;
                }
            }
        }

        // i
        .top-nav {
            width: 100%;
            height: $header_height;
            padding: $header_height 0 0;
            @media (min-width: 768px) {
                padding: 0 0 0 220px;
            }

            > ul {
                margin-bottom: 0;
            }

            //
            .nav-left,
            .nav-right {
                line-height: 16px;

                > li {
                    float: left;

                    &.nav-profile {
                        > a {
                            padding: 0px 50px 0px 25px;
                            > i {
                                display: inline-block;
                                transform: scale(.5);
                                position: absolute;
                                top: 0;
                                right: 15px;
                            }
                        }
                        > ul {
                            > li {
                                &:last-child {
                                    border-top: 1px solid #DAE3EA;
                                }
                            }
                        }
                    }

                    > .toggle-min {
                        display: none;
                        @media (min-width: 768px) {
                            display: block;
                        }
                    }

                    > .btn-group > a,
                    > a {
                        position: relative;
                        display: block;

                        height: $header_height;
                        padding: 0px 15px;
                        line-height: $header_height;

                        &:hover {
                            > i {
                                &.icon-remind {
                                    &:before {
                                        content: "\e623";
                                    }
                                }
                                &.icon-date {
                                    &:before {
                                        content: "\e625";
                                    }
                                }
                                &.icon-email {
                                    &:before {
                                        content: "\e624";
                                    }
                                }
                            }
                        }

                        > i {
                            &.icon-email {
                                display: inline-block;
                                transform: scale(.85);
                            }
                        }

                        > span {
                            &.badge {
                                position: absolute;
                                min-width: 16px;
                                height: 16px;
                                line-height: 16px;
                                text-align: center;
                                padding: 0 3px;
                                top: 10px;
                                right: 3px;
                                font-size: 10px;
                                color: #FFFFFF;
                                letter-spacing: 0.5px;
                                opacity: 0.9;
                                background: #EB0000;
                            }

                        }
                    }
                }

                .search-box {
                    max-width: 180px;
                    padding: 13px 0;

                    .input-group-addon {
                        padding: 6px 0 6px 12px;
                        border: none;
                        background-color: transparent;
                    }

                    .form-control {
                        border: none;
                    }
                }

            }

            //
            .nav-left {
                float: left;
                padding: 0;
            }

            //
            .nav-right {
                padding: 0;
                > li {
                    > a {
                        text-align: center;
                    }
                    &:last-child {
                        .dropdown-menu.pull-right {
                            right: 10px;
                        }
                    }
                }
            }
        }

        //
        .langs {

            .list-langs {
                a {
                    position: relative;
                    padding: 8px 20px 8px 20px;

                    .flag {
                        position: absolute;
                        top: 7px;
                        left: 15px;
                    }
                }
            }
        }

    }

}

.layout-boxed > {
    .header-container {
        max-width: 1200px;
        margin: 0 auto;
        .top-header {
            max-width: 1200px;
            margin: 0 auto;
        }
    }
    .main-container {
        max-width: 1200px;
        margin: 0 auto;
    }
}

.layout-boxed > .header-container.header-fixed {
    max-width: 1200px;
    margin: 0 auto;
}

.app > .header-container.header-fixed {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    + .main-container {
        padding-top: 120px;
    }
}

@media (min-width: 768px) {
    .app > .header-container.header-fixed + .main-container {
        padding-top: $header_height;
    }
}
