<div class="row">
    <div class="col-sm-12">

        <div class="panel panel-default">
            <tiger-loading loading="loadProject" parent=".panel"></tiger-loading>

            <div class="panel-heading">
                上传附件
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <attachment-list list="attachmentList" relation-id="projectId" module-id="{{moduleId}}">
                        </attachment-list>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <tiger-loading loading="loadProject" parent=".panel"></tiger-loading>

            <div class="panel-heading">
                基本信息
            </div>
            <form class="panel-body" name="projectBasicInfo">
                <custom-form field-list="basicForm" entity="project.basicInfo"
                             class="form-horizontal custom-form-inline"
                             base-form="projectBasicInfo"></custom-form>
            </form>
        </div>

        <div class="panel panel-default">
            <tiger-loading loading="loadProject" parent=".panel"></tiger-loading>

            <div class="panel-heading">
                项目成员 <span class="text-red">*</span>
            </div>
            <div class="panel-body">
                <table class="table" style="table-layout: fixed">
                    <thead>
                    <tr>
                        <th>角色 <span class="text-red">*</span></th>
                        <th>用户 <span class="text-red">*</span></th>
                        <th>操作</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="item in projectMemberData">
                        <td>
                            <tiger-select list-type="401" ng-model="item.memberType"
                                          default-value="'$first'"></tiger-select>
                        </td>
                        <td>
                            <tiger-select list-type="2001" ng-model="item.member"
                                          default-value="!project.id ? $root.account.id : null"></tiger-select>
                        </td>
                        <td>
                            <button type="button" class="btn btn-link" ng-click="removeMemberData($index)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <button type="button" class="btn btn-link" ng-click="addMemberData()">
                                <span class="glyphicon glyphicon-plus"></span>
                                添加
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-default bottom">
            <tiger-loading loading="loadProject" parent=".panel"></tiger-loading>

            <div class="panel-body">
                <button type="button" class="btn btn-primary waves-effect waves-button waves-float"
                        ng-click="saveProject()">
                    保存项目
                </button>

                <button type="button" class="btn btn-warning waves-effect waves-button waves-float"
                        ng-click="backView()" ng-if="projectId > 0">
                    取消编辑
                </button>
                <button type="button" class="btn btn-danger waves-effect waves-button waves-float"
                        ng-click="deleteProjectInfo()" ng-if="projectId > 0">
                    删除项目
                </button>

                <form-error-hint tiger-form="projectBasicInfo" ng-if="projectBasicInfo.$submitted"></form-error-hint>
            </div>
        </div>
    </div>
</div>
