<div class="row">

    <div class="col-sm-12">
        <div class="panel panel-default">
            <span class="panel-body">
                <ul>
                    <li>解析内容：基本信息、联系方式、教育信息、工作经历、项目经历、语言等简历信息，准确率96%以上</li>
                    <li>支持格式：html、htm 、mht 、rtf 、doc、docx 、wps 、mime、eml、pdf、xls、txt等</li>
                </ul>
            </span>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                1、批量填充信息（留空则以系统解析结果为准）
            </div>
            <form class="panel-body" name="importForm">
                <custom-form field-list="fields" entity="importTemplate" class="form-horizontal col-sm-11 custom-form-inline"
                             base-form="importForm"></custom-form>
            </form>
        </div>
    </div>

    <div class="col-sm-12" nv-file-drop uploader="uploader">
        <div class="panel panel-default">
            <div class="panel-heading">
                2、选择简历，数量&le;200，单份简历大小&le;5MB
            </div>
            <div class="panel-body">
                <div class="col-sm-4">
                    <input type="file" title="选择文件" nv-file-select="" ui-file-upload uploader="uploader" multiple/>
                </div>
                <div class="col-sm-8">
                    <div class="well my-drop-zone" nv-file-over="" uploader="uploader"
                         style="margin-bottom: 0; min-height: 100px">
                        拖动文件到这里上传
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <button type="button" class="btn btn-success" ng-click="uploadAll()"
                        ng-disabled="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> 开始上传
                </button>
                <button type="button" class="btn btn-warning" ng-click="uploader.cancelAll()"
                        ng-disabled="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> 取消上传
                </button>
                <button type="button" class="btn btn-danger" ng-click="clearQueue()"
                        ng-disabled="!uploader.queue.length">
                    <span class="glyphicon glyphicon-ban-circle"></span> 清空
                </button>

                <div class="pull-right">
                    <label class="ui-checkbox" ng-show="!!importTemplate.duplicateOperation&&!!importTemplate.type">
                        <input type="checkbox" ng-model="uploader.autoUpload">
                        <span>自动导入</span>
                    </label>
                </div>
            </div>

            <div class="panel-body">
                <uib-progress max="uploader.queue.length" ng-if="uploader.queue.length">
                    <uib-bar value="state.finish" type="default" ng-show="state.finish">
                    </uib-bar>
                    <uib-bar value="state.duplicate" type="default" ng-show="state.duplicate">
                    </uib-bar>
                    <uib-bar value="state.error" type="danger" ng-show="state.error">
                    </uib-bar>
                </uib-progress>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tbody>
                    <tr ng-repeat="item in uploader.queue">
                        <td>
                            {{item.file.name}}
                        </td>
                        <td>
                            {{item.file.size | fileSize}}
                        </td>
                        <td>
                            <uib-progressbar value="item.progress" type="default" style="margin-bottom:0"
                                             ng-if="item.isSuccess && (item.formData[0].candidate_id||item.formData[0].state==3)"></uib-progressbar>
                            <uib-progressbar value="item.progress" type="danger" style="margin-bottom:0"
                                             ng-if="item.isError || item.formData[0].error"></uib-progressbar>
                        </td>
                        <td>
                            <span ng-if="item.isUploading && item.progress < 100">上传中</span>
                            <span ng-if="item.isUploading && item.progress >= 100">处理中</span>
                            <span ng-if="item.isSuccess && item.formData[0].candidate_id||item.formData[0].state==3">
                                导入成功
                                <span ng-if="item.formData[0].info">({{item.formData[0].info}})</span>
                            </span>
                            <span ng-if="item.isSuccess && item.formData[0].error">
                                导入失败
                                <span ng-if="item.formData[0].info">({{item.formData[0].info}})</span>
                            </span>

                            <span ng-if="item.formData[0].state==2||item.formData[0].state==3" ng-repeat="duplicateItem in item.formData[0].duplicateList">
                                <span ng-if="$index!=0">、</span>
                                <a href="/#/candidate/{{duplicateItem.resumeId}}" target="_blank">
                                    <small class="no-name" ng-if="!duplicateItem.name">(没有姓名)</small>
                                    {{duplicateItem.name}}
                                </a>
                            </span>

                            <a ui-sref="candidate_view({ candidateId: item.formData[0].candidate_id })"
                               ng-if="item.formData[0].candidate_id" target="_blank">
                                <i class="glyphicon glyphicon-share-alt"></i>
                            </a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()"
                                    ng-if="!item.isUploading && !item.isUploaded">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-sm-12" ng-show="state.duplicate || state.error || state.finish">
        <div class="panel panel-default">
            <div class="panel-body">
                <p ng-if="state.duplicate > 0">重复简历:{{state.duplicate}}</p>
                <p ng-if="state.error > 0">其他错误:{{state.error}}</p>
                <p ng-if="state.finish > 0">新增人才:{{state.finish}}</p>
            </div>
        </div>
    </div>
</div>
