<div class="panel panel-default">
    <div class="row">
        <div class="col-sm-12">
            <custom-list ng-if="fieldList.length" display-field-key-list="fieldInTable"
                         title="列表" field-list="fieldList" data="list" on-thead-click="onTheadClick"
                         sort-by-field="sortByField" sort-by-type="sortByType" page-state="pageState"
                         loading="" module-id="{{moduleId}}" list-key="candidateEmail" operation-func="operationFunc">
            </custom-list>
        </div>
    </div>
</div>