<div class="panel panel-default">
    <div class="panel-body resume-header tiger-resume-border clearfix">
        <div class="header-left pull-left clearfix">
            <div class="pull-left">
                <img width="86" height="86" ng-src="/api/file/download?id={{resume.basicInfo.Favatar}}"
                     ng-if="resume.basicInfo.Favatar">
                <img width="86" height="86" ng-src="/images/avatar/man.png" ng-if="!resume.basicInfo.Favatar">
            </div>
            <div class="abstract pull-left">
                <p class="abstract-fir">
                    <span class="name" ng-bind="resume.basicInfo.Fname"></span>
                    <span class="attachments">
                        <i class="iconfont icon-attachment"></i>
                        {{resume.stats.attachmentCount}} 附件
                    </span>
                    <span class="type tiger-resume-radius" ng-bind="resume.moduleType | i18n"></span>
                    <span class="status tiger-resume-radius" ng-bind="resume.basicInfo.Fstatus.title"></span>
                    <span class="mpc tiger-resume-radius" ng-if="resume.basicInfo.Fmpc">MPC</span>
                </p>
                <p class="abstract-sec" ng-if="resume.occupationList && resume.occupationList.length > 0">
                    <a ui-sref="company_view( {companyId: resume.occupationList[0].Fcompany_id.id} )"
                       class="target_blank">
                        {{resume.occupationList[0].Fcompany_id | i18n}}
                    </a>
                    &nbsp;| &nbsp;
                    <span class="title" ng-bind="resume.occupationList[0].Ftitle"></span>
                </p>
                <p>
                    <span ng-bind="resume.creator | i18n"></span> &nbsp;| &nbsp;
                    <span ng-bind="resume.time | tigerDate"></span> &nbsp;| &nbsp;
                    <span ng-bind="resume.original.title"></span>
                </p>
            </div>
        </div>
        <div class="header-right pull-right">
            <div class="resume-actions" data-ng-controller="candidateOperationCtrl">
                <a ui-sref="candidate_edit( {candidateId: candidateId} )"
                   class="btn tiger-action-button target_blank">编辑简历</a>
                <button class="btn tiger-action-button" ng-click="joinProject(resume.id)">
                    加入项目
                </button>
                <div class="btn-group" uib-dropdown is-open="status.isopen">
                    <button class="btn tiger-action-button" uib-dropdown-toggle
                            ng-disabled="disabled" ng-click="toggleDropdown(status)">
                        操作
                        <i class="iconfont icon-caret-right top"></i>
                        <i class="iconfont icon-caret-right down"></i>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                        <li>
                            <a data-ng-click="addComment(resume.id)">添加备注</a>
                        </li>
                        <li>
                            <a data-ng-click="composeMail(resume, 1)">发邮件</a>
                        </li>
                        <li>
                            <a ng-click="addTask(resume)">添加提醒</a>
                        </li>
                        <li>
                            <a data-ng-click="joinFolder(resume.id, 1)">添加分组</a>
                        </li>
                        <li>
                            <a data-ng-click="generateReport(resume)">生成推荐报告</a>
                        </li>
                        <li>
                            <a data-ng-click="deleteResume(resume.id)">删除简历</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="catogary-tab tiger-nav-tab">
        <ul>
            <li ui-sref-active-eq="active">
                <a ui-sref=".default">简历</a>
            </li>
            <li ui-sref-active-eq="active">
                <a ui-sref=".attachment">附件
                    {{resume.stats.attachmentCount}}</a>
            </li>
            <li ui-sref-active-eq="active">
                <a ui-sref=".mailList">邮件</a>
            </li>
            <li ui-sref-active-eq="active">
                <a ui-sref=".commentList">
                    备注 {{resume.stats.commentCount}}
                </a>
            </li>
            <li ui-sref-active-eq="active">
                <a ui-sref=".update_logs">
                    日志
                </a>
            </li>
        </ul>
    </div>
</div>


