<div class="row">
    <div class="panel panel-default">
        <ul class="nav nav-pills col-sm-7">
            <li ng-class="{active:userStatus==1}" role="presentation">
                <a class="btn" ng-click="changeUserStatus(1)">在职用户</a>
            </li>
            <li ng-class="{active:userStatus==2}" role="presentation">
                <a class="btn" ng-click="changeUserStatus(2)">离职用户</a>
            </li>
            <li ng-class="{active:userStatus==3}" role="presentation">
                <a class="btn" ng-click="changeUserStatus(3)">冻结用户</a>
            </li>
            <li ng-if="tigerInfo.saas" ng-class="{active:userStatus==4}" role="presentation">
                <a class="btn" ng-click="changeUserStatus(4)">邀请中用户</a>
            </li>
        </ul>
    </div>

    <form class="input-group" ng-submit="getUserList()">
        <input type="text" class="form-control" ng-model="search.name"
               placeholder="请输入姓名进行搜索">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-default">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </form>

    <custom-list display-field-key-list="fieldInTable"
                 list-title="列表" field-list="fieldList" data="dataList" on-thead-click="sortBy"
                 sort-by-field="sortByField" sort-by-type="sortByType" page-state="pageState"
                 loading="false" list-key="UserList" operation-func="operationFunc">
    </custom-list>

</div>
