<ul class="nav nav-tabs">
    <li role="presentation" ng-class="{active: 'profile.mail.account' == currentModule}">
        <a href="" ng-click="switchTo('profile.mail.account')">
            <span>基本设置</span>
        </a>
    </li>
    <li role="presentation" ng-class="{active: 'profile.mail.template' == currentModule}">
        <a href="" ng-click="switchTo('profile.mail.template')">
            <span>邮件模板</span>
        </a>
    </li>
    <li role="presentation" ng-class="{active: 'profile.mail.sign' == currentModule}">
        <a href="" ng-click="switchTo('profile.mail.sign')">
            <span>邮件签名</span>
        </a>
    </li>
</ul>
<div>
    <ui-view></ui-view>
</div>
