<h4>修改密码</h4>
<form class="form-horizontal" ng-submit="changePassword()" name="changePasswordForm">
    <div class="form-group" ng-class="{'has-error': changePasswordForm.oldPassword.$invalid && changePasswordForm.oldPassword.$touched}">
        <label class="col-sm-2 control-label">
            原密码：
        </label>

        <div class="col-sm-5">
            <input type="password" class="form-control" ng-model="oldPassword" ng-required="true"
                name="oldPassword">
            <ul ng-if="changePasswordForm.oldPassword.$touched">
                <li ng-if="changePasswordForm.oldPassword.$error.required">请输入密码</li>
            </ul>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': changePasswordForm.newPassword.$invalid && changePasswordForm.newPassword.$touched}">
        <label class="col-sm-2 control-label">
            新密码：
        </label>

        <div class="col-sm-5">
            <input type="password" class="form-control" ng-model="newPassword" ng-required="true"
                name="newPassword">
            <ul ng-if="changePasswordForm.newPassword.$touched">
                <li ng-if="changePasswordForm.newPassword.$error.required">请输入密码</li>
            </ul>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': changePasswordForm.repeat.$invalid && changePasswordForm.repeat.$touched}">
        <label class="col-sm-2 control-label">
            确认新密码：
        </label>

        <div class="col-sm-5">
            <input type="password" class="form-control" ng-model="repeat" ng-required="true"
                name="repeat">
            <ul ng-if="changePasswordForm.repeat.$touched">
                <li ng-if="changePasswordForm.repeat.$error.required">请确认新密码</li>
            </ul>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-5">
            <button type="submit" class="btn btn-primary">保存</button>
        </div>
    </div>
</form>
