.comment-list {
    list-style: none;

    .comment-item {
        margin-bottom: 10px;
    }

    .left-side {
        text-align: right;

        margin-top: 8px;
    }

    .right-side {
        border-left: 1px solid #000;
        min-height: 120px;

        &:before {
            content: '';
            display: block;
            background: #000;
            border-radius: 100%;
            width: 7px;
            height: 7px;
            position: absolute;
            left: -4px;
            top: 0;
        }
    }

    .comment-operation {
        display: inline-block;
    }
}
